<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:applicationContext-persistence.xml"/>
    <import resource="classpath:spring-security.xml"/>

    <context:component-scan base-package="ru.trandefil.spring.service"/>
    <context:component-scan base-package="ru.trandefil.spring.endpoint"/>
    <context:component-scan base-package="ru.trandefil.spring.controller"/>


    <jaxws:endpoint id="userEndPoint" implementor="ru.trandefil.spring.endpoint.UserEndPointImpl"
                    address="/userEndPoint"/>

    <jaxws:endpoint id="projectEndPoint" implementor="ru.trandefil.spring.endpoint.ProjectEndPointImpl"
                    address="/projectEndPoint"/>

    <jaxws:endpoint id="taskEndPoint" implementor="ru.trandefil.spring.endpoint.TaskEndPointImpl"
                    address="/taskEndPoint"/>

    <jaxws:endpoint id="authEndPoint" implementor="ru.trandefil.spring.endpoint.AuthEndPointImpl"
                    address="/authEndPoint"/>

</beans>