<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<import resource="classpath:META-INF/cxf/cxf.xml"/>-->
    <import resource="classpath:applicationContext-persistence.xml"/>
    <import resource="classpath:spring-security.xml"/>
    <!--<import resource="classpath:session.xml"/>-->

    <context:component-scan base-package="ru.trandefil.spring.service"/>
    <context:component-scan base-package="ru.trandefil.spring.endpoint"/>

    <!--<mvc:annotation-driven />-->

    <bean id="userEndPointImpl" class="ru.trandefil.spring.endpoint.UserEndPointImpl">
        <property name="userService">
            <ref bean="userServiceImpl"/>
        </property>
    </bean>

    <bean id="projectEndPointImpl" class="ru.trandefil.spring.endpoint.ProjectEndPointImpl">
        <property name="userService">
            <ref bean="userServiceImpl"/>
        </property>
        <property name="projectService">
            <ref bean="projectServiceImpl"/>
        </property>
    </bean>

    <bean id="taskEndPointImpl" class="ru.trandefil.spring.endpoint.TaskEndPointImpl">
        <property name="userService">
            <ref bean="userServiceImpl"/>
        </property>
        <property name="projectService">
            <ref bean="projectServiceImpl"/>
        </property>
        <property name="taskService">
            <ref bean="taskServiceImpl"/>
        </property>
    </bean>

    <jaxws:endpoint id="userEndPoint" implementor="#userEndPointImpl"
                    address="/userEndPoint"/>

    <jaxws:endpoint id="projectEndPoint" implementor="#projectEndPointImpl"
                    address="/projectEndPoint"/>

    <jaxws:endpoint id="taskEndPoint" implementor="#taskEndPointImpl"
                    address="/taskEndPoint"/>

    <jaxws:endpoint id="authEndPoint" implementor="ru.trandefil.spring.endpoint.AuthEndPointImpl"
                    address="/authEndPoint"/>

</beans>